---
layout: default
title: "About"
---

<div class="container">
    <h1>About</h1>
    <div id="timeline">
        <div class="timeline-item">
            <div class="timeline-icon">
                {% include svg/star.html%}

            </div>
            <div class="timeline-content">
                <h2>Early 1970s</h2>
                <p>
                    KISS traces its roots to Wicked Lester, a New York-based rock and roll band led by co-founders Gene
                    Simmons and Paul Stanley. Unhappy with the direction of Wicked Lester, Simmons and Stanley part ways
                    with the other members in 1972 after Epic Records rejected an album recorded by the group.
                </p>
                <button type="button" class="btn btn-danger">Read more</button>

            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                {% include svg/archive.html%}


            </div>
            <div class="timeline-content right">
                <h2>1980's</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab
                    libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                </p>
                <button type="button" class="btn btn-danger">Read more</button>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                {% include svg/star.html%}
            </div>
            <div class="timeline-content">
                <h2>1990's</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab
                    libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                    libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                </p>
                <button type="button" class="btn btn-danger">Read more</button>
            </div>
        </div>
        <div class="timeline-item">
                <div class="timeline-icon">
                    {% include svg/archive.html%}
    
    
                </div>
                <div class="timeline-content right">
                    <h2>1980's</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab
                        
                    </p>
                    <button type="button" class="btn btn-danger">Read more</button>
                </div>
            </div>
        <div class="timeline-item">
            <div class="timeline-icon">
                {% include svg/star.html%}
            </div>
            <div class="timeline-content">
                <h2>1990's</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab
                    libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                </p>
                <button type="button" class="btn btn-danger">Read more</button>
            </div>
        </div>
    </div>
</div>