<footer>
    
    <div class="footer-logo">
           
    </div>
    <div class="orange"></div>

    <div  class="icon-footer">

 
    <div class="icon">
                {%include svg/spotify.html %}
      
            </div>
            <div class="icon">
                       
                        {%include svg/instagram-circle.html %}
                 
                    </div>
                    <div class="icon">
                               
                                {%include svg/facebook-circle.html %}
                              
                            </div>
                            <div class="icon">
                               
                                   <a href="https://www.youtube.com/channel/UCyOw2FDjfQOFQH7paKxNVvA" target="_blank">{%include svg/youtube-circle.html %}</a>     
                                    </div>
                                </div>
            <!--
    <div class="footer--logo-wrapper">
    <div class="footer--social-icon">
            {% include /svg/facebook.html %}
        
    </div>
    <div class="footer--social-icon">
            {% include /svg/instagram.html %}
        
    </div>
    <div class="footer--social-icon">
            {% include /svg/youtube.html %}
        
    </div>-->
    <!-- <div style="text-align: center; " >
            <img style="width: 30%; margin-top: 10px;" src="../images/gene-simmons.png" alt="" >
    </div> -->
</div>
</footer>
