<a href="../_site/index.html">
    <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
              <source src="../images/PexelsVideos3854.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
              <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                  <h1 class="display-3">
                      <img src="../images/kiss-wide.png" alt=""> <!-- BYT BILD -->
                  </h1>
                </div>
              </div>
            </div>
          </header>
</a>
<!-- Menu -->
<div>
  <ul class="menu-list" id="navbar">
    <a href="index.html" class="active" >
      <li>Home</li>
    </a>
    <a href="about.html">
      <li>About</li>
    </a>
    <a href="media.html">
      <li>Media</li>
    </a>
  </ul>
</div>

<script>
        window.onscroll = function() {myFunction()};
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        
        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky");
          } else {
            navbar.classList.remove("sticky");
          }
        }
</script>