
<section class="container" id="tickets" style="text-align: center;">
    <div class="full-width">

        <h1 class="chunk text-center mt-5"><span>Buy Tickets</span></h1>
    </div>

    <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-dangerous-satanic.jpg" alt="">
                <div class="ticket-text">
                    <h3>West Valley City</h3>
                    <p>14/9-19</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-1.jpg" alt="">
                <div class="ticket-text">
                    <h3>Oakland Arena, Cali </h3>
                    <p>16/9-19</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-6.jpg" alt="">
                <div class="ticket-text">
                    <h3>Los Angeles, CA</h3>
                    <p>20/9-19</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/tickets.jpg" alt="">
                <div class="ticket-text">
                    <h3> Allphones Sydney</h3>
                    <p>26/11-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-5.jpg" alt="">
                <div class="ticket-text">
                    <h3> Westpac Stadium, NZL</h3>
                    <p>06/12-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/group-photo.png" alt="">
                <div class="ticket-text">
                    <h3>Tokyo Dome, Japan</h3>
                    <p>11/12-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-2.jpg" alt="">
                <div class="ticket-text">
                    <h3>Morioka, Japan</h3>
                    <p>14/12-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-7.jpeg" alt="">
                <div class="ticket-text">
                    <h3>RAC Arena, Perth</h3>
                    <p>16/11-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket__content">
                <img class="ticket-images" src="images/kiss-pic-8.webp" alt="">
                <div class="ticket-text">
                    <h3>Melbourne, VIC</h3>
                    <p>21/11-2019</p>
                </div>
                <button type="button" class="btn btn-warning">Buy Ticket</button>
            </div>
        </div>
    
</section>
